.AL {

    display: flex;
    justify-content: center;


}

.addList {

    width: 1200px;
    height: 75px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;



}

.btn-light {
    width: 50px;
    background-color: white;
    border-color: white;
    height: 75px;
    border-radius: 3%;
}

.input-group {
    width: 1300px;
    height: 50px;
    background: #F9AC66;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 70px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    font-size: 25px;
    color: #000000;

}

span {
    flex: auto;
    padding-left: 5px;
    justify-content: start;
}

.buttons {
    display: flex;
    justify-content: flex-start;

    border-color: #F9AC66;
    border: #F9AC66;

}